html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none !important;
    backface-visibility: hidden;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #F6F9FC;
}

.wrapper-main {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #1230DA;
    position: relative;
    z-index: 2;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 7px;
    align-items: center;
}

.header-top_name {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #9DAADF;
}

.header-top_main {
    display: flex;
    width: 556px;
    justify-content: space-between;
}


.header-top_main a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #6579DD;
    text-decoration: none;
}

.header-top_main a.active {
    color: #FFFFFF;
}

.header-top_main a:hover {
    color: #FFFFFF;
}

.header-top_phone {
    display: flex;
}

.header-top_phone-number:first-child {
    padding-right: 12px;
    border-right: 1px solid #395BC4;
}

.header-top_phone-number:last-child {
    padding-left: 12px;
}

.header-top_phone-number {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
}

.header-top_phone-number > span {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
}

.header-hr {
    background: linear-gradient(90deg, rgba(188, 221, 255, 0) 0%, #BCDDFF 28.92%, #BCDDFF 71.1%, rgba(188, 221, 255, 0) 100%);
    opacity: 0.3;
    height: 1px;
}

.header-body {
    display: flex;
    margin: 28px 0 20px;
    justify-content: space-between;
}

.header.header-home::after {
    background: #1230DA;
    height: 85px;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
}

.header-body_img {
    margin-right: 49.78px;
}

.header-body_catalog {
    margin-right: 30px;
}

.header-body_button {
    padding: 14px 37px 14px 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    background: #304FFE;
    border-radius: 2px;
}

.header-body_button:hover {
    cursor: pointer;
}

.header-body_button img {
    margin-right: 16px;
}

.catalog-menu {
    display: flex;
    flex-direction: column;
}

.catalog-menu ul {
    width: 293px;
    padding: 50px 30px 50px 68px;
}

.catalog-menu ul > li {
    position: relative;
}

.catalog-menu ul li {
    display: flex;
}

.catalog-menu ul li ul {
    display: none;
}

.catalog-menu ul li ul:nth-child(1) {
    margin-top: -49px;
}

.catalog-menu ul li ul:nth-child(2) {
    margin-top: -67px;
}

.catalog-menu ul li ul:nth-child(3) {
    margin-top: -85px;
}

.catalog-menu ul li:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 293px;
    padding: 49px 67px;
    background: #ffffff;
}


.header-info_search {
    height: 50px;
    display: flex;
    position: relative;
    margin-right: 94px;
    overflow: hidden;
    border-radius: 2px;
}

.header-info_search-input {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #C4C4C4;
    padding: 14px 50px 14px 20px;
    width: 360px;
}

.header-info_search-button {
    border: none;
    background: url(img/search.svg) no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}

.basket {
    text-decoration: none;
    display: flex;
    min-width: 198px;
    justify-content: space-between;
}

.basket-img {
    display: flex;
    position: relative;
    margin-right: 4px;
}

.basket-img span {
    position: absolute;
    right: -10px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #FF5722;
    border-radius: 50px;
    padding: 2px 6px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-top {
    display: flex;
    align-items: center;
}

.basket-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    display: flex;
}

.basket-line {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #6579DD;
    margin: 0 8px;
}

.slider {
    position: relative;
    margin-bottom: 106px;
    z-index: 3;
}

.button-scroll {
    display: block;
    padding: 10px;
    background: #F6F9FC;
    position: absolute;
    left: 98px;
    bottom: -40px;
    z-index: 1;
    border-radius: 50%;
}

.catalog-wrapper {
    margin-bottom: 50px;
}

.catalog-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.catalog-h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #191F3D;
}

.catalog-top_actions a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #9DAADF;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border: 1px solid #9DAADF;
    border-radius: 2px;
}

.catalog-top_actions a .arrow-right {
    margin-left: 6px;
}

.catalog-cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
}

.catalog-cards_item {
    display: flex;
    flex-direction: column;
    width: 22.4%;
    margin: 15px;
    background: radial-gradient(92.4% 52.48% at 50% 47.52%, #F6F9FC 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border-radius: 2px;
}

.catalog-cards_item:hover {
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.1));
}

.catalog-cards_item-img {    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 0;
    background: #FFFFFF;
    margin-bottom: 20px;
}

.catalog-cards_item-img img {
    max-width: 145px;
    max-height: 156px;
    object-fit: contain;
}

.catalog-cards_item-top {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #FF5722;
    margin-bottom: 30px;
}

.catalog-cards_item-price {
    font-size: 30px;
    line-height: 36px;
}

.catalog-cards_item-weight {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #9DAADF;
}

.catalog-cards_item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #191F3D;
    text-decoration: none;
    margin-bottom: 50px;
    display: block;
}

.catalog-cards_item-buy {
    padding: 14px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #304FFE;
    border-radius: 2px;
    margin-bottom: 34px;
    width: 100%;
    text-align: center;
}

.catalog-cards_item-buy:hover {
    background: #FF5722;
    cursor: pointer;
}

.catalog-cards_item-contant {
    padding: 0 21px;
}

.catalog-show_more {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FF5722;
    background: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 21px;
    cursor: pointer;
}

.catalog-show_more svg {
    margin: 0 10px;
}

.advantages-wrapper {
    background: #FFFFFF;
}

.advantages {
    padding: 100px 0 80px; 
}

.advantages > span {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 60px;
    display: block;
}

.advantages-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages-cards_item {
    display: flex;
    flex-direction: column;
    width: 13%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #191F3D;
}

.advantages-cards_item div {
    padding: 23px 13px;
    background: #F6F9FC;
    border-radius: 82px;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.advantages-cards_item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #304FFE;
    margin-bottom: 14px;
}

.footer {
    background: #1230DA;
}

.footer-wrapper {
    padding: 78px 0 45px;
    display: flex;
    justify-content: space-between;

}

.footer-logo {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #9DAADF;
}

.footer-info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #BCDDFF;
}

.footer-info a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #9DAADF;
    text-decoration: none;
    margin-top: 20px;
}

.footer-info a:first-child {
    margin-top: 30px;
}

.footer-info a:hover {
    font-weight: 500;
    color: #FFFFFF;
}

.footer-contacts_time {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #BCDDFF;
    margin-bottom: 30px;
}

.footer-contacts_time > span {
    color: #FFFFFF  ;
}

.footer-contacts_phone {
    display: flex;
    margin-bottom: 17px;
}

.footer-contacts_phone-number {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-contacts_phone-number:first-child {
    border-right: 1px solid #395BC4;
    padding-right: 9px;
}

.footer-contacts_phone-number:last-child {
    padding-left: 10px;
}

.footer-contacts_phone-number > span {
    font-size: 16px;
    line-height: 19px;
    color: #9DAADF;
}

.footer-contacts_email {
    height: 50px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 30px;
}

.footer-contacts_email-input {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #C4C4C4;
    padding: 14px 50px 14px 20px;
    width: 457px;
}

.footer-contacts_email-button {
    border: none;
    background: url(img/send.svg) no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}

.footer-contacts_social a  {
    margin-right: 20px;
    width: 36px;
    height: 36px;
}

.footer-contacts_social a svg:hover {
    fill: #FF5722;
}

.nav {
    padding: 19px 0;
    display: flex;
    align-items: center;
}

.nav a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #9DAADF;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.nav a:first-child {
    margin-left: 0;
}

.nav a:last-child {
    margin-right: 0;
}

a.nav-active {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #304FFE;
}

.product-wrapper {
    background: #FFFFFF;
}

.product {
    padding: 60px 0 120px;
    display: flex;
    justify-content: space-between;
}

.product-img{
    margin-right: 15px;
}

.product-img img {
    height: 430px;
}

.product-img_title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #191F3D;
    display: flex;
    flex-direction: column;
    margin-bottom: 81px;
}

.product-img_title span {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #9DAADF;
}

.product-description {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.product-description_top {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

.product-description_top-price_big {
    font-size: 48px;
    line-height: 57px;
}

.product-description_top-price{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;    
    letter-spacing: -0.02em;
    color: #FF5722;
    margin-right: 70px;
}

.product-description_top-price_weight {
    color: #9DAADF;
}

.product-description_weight {
    margin-bottom: 40px;
}

.product-description_weight-form {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.product-description_weight-form_radio > input {
    display: none;
}

.product-description_weight-form_radio > input:checked ~ span {
    background: #9DAADF;
    color: #FFFFFF;
}

.product-description_weight-form_radio {
    margin: 10px;
    line-height: 0;
}


.product-description_weight > span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 15px;
    display: block;
}

.product-description_weight-form_radio > span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #9DAADF;
    padding: 6px 22px;
    border-radius: 2px;
    border: 1px solid #9DAADF;
    display: block;
}

.product-description_weight-form_radio > span:hover {
    color: #FFFFFF;
    background: #FF5722;
    border: 1px solid #FF5722;
    cursor: pointer;
}

.product-description_wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.product-description_color > span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 20px;
    display: block;
}

.product-description_color {
    margin-bottom: 40px;
}

.product-description_color-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: -10px;
}

.product-description_color-form_radio {
    margin: 10px;
    display: inline-block;
    line-height: 0;
}


.product-description_color-form_radio > input {
    display: none;
}

.product-description_color-form_radio > span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid transparent;  
}

.product-description_color-form_radio > span:hover {
    border: 4px solid #FF5722 !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.product-description_color-form_radio > input:checked ~ span {
    background-image: url(img/check-mark.svg) !important;
    background-repeat: no-repeat !important;
    z-index: 1;
    background-position: center !important;
}

.product-description_info {
    margin-bottom: 45px;
}

.product-description_info > span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 20px;
    display: block;
}

.product-description_info-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #72799C;
    margin-bottom: 10px;
    height: 160px;
    overflow: hidden;
}

.product-description_info-button {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #304FFE;
    background: none;
    display: flex;
    align-items: center;
}

.product-description_info-button:hover {
    cursor: pointer;
}

.product-description_info-button svg {
    margin-left: 10px;
}

.product-description_info-text.active {
    height: inherit;
}

.product-description_quantity > span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 20px;
    display: block;
}

.product-description_quantity-form {
    display: flex;
}

.product-description_quantity-form > button {
    height: 40px;
    width: 40px;
    border: 1px solid #9DAADF;
    border-radius: 2px 0 0 2px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description_quantity-form > input {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #9DAADF;
    max-width: 115px;
    text-align: center;
    border-top: 1px solid #9DAADF;
    border-bottom: 1px solid #9DAADF;
}

.product-description_quantity-form > button:last-child {
    border-radius: 0 2px 2px 0;
}

.product-description_quantity-form > button:hover {
    background: #FF5722;
    border: 1px solid #FF5722;
    cursor: pointer;
}

.product-description_quantity-form > button:hover svg {
    fill: #FFFFFF;
}

.product-description_button {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #304FFE;
    border-radius: 2px;
    padding: 20px 0;
}

.product-description_button:hover {
    cursor: pointer;
    background: #FF5722;
}

.catalog-wrapper_popular {
    margin: 133px 0 109px;
}

.catalog-top {
    margin-bottom: 31px;
}

.catalog-top_title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #191F3D;
}

.catalog-top_title-big {
    color: #FF5722;
}

.catalog-top_title-small {
    font-size: 30px;
    line-height: 36px;
    color: #9DAADF;
}

.catalog-top_filter > button {
    padding: 12px 18px;
    background: none;
    border: 1px solid #9DAADF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #9DAADF;
    margin-right: 28px;
    cursor: pointer;
}

.catalog-top_filter > button:last-child {
    margin-right: 0;
}

.catalog-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
    margin-bottom: 50px;
}

.catalog-show_more-wrapper {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FF5722;
    background: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 81px;
    cursor: pointer;
}

.catalog-show_more-wrapper svg {
    margin: 0 10px;
}

.basket-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
    align-items: flex-start;
}

.basket-catalog_card {
    display: flex;
    background: radial-gradient(60.67% 1920.2% at 4.01% -5.75%, #F6F9FC 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border-radius: 2px;
    max-width: 734px;
    margin-bottom: 30px;
}

.basket-catalog_card:last-child {
    margin-bottom: 0;
}

.basket-catalog-img {
    width: 160px;
    height: 160px;
    padding: 25px 37px;
    background: #FFFFFF;
    margin-right: 35px;
}

.basket-catalog_card-info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #9DAADF;
    margin-right: 112px;
}

.basket-catalog_card-info_parameters {
    display: flex;
    margin-top: 30px;
}

.basket-catalog_card-info_parameters-weight {
    padding: 4px 14px;
    background: #9DAADF;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-height: 30px;
    margin-right: 10px;
}

.basket-catalog_card-info_parameters-color {
    background: #C8CCDE;
    border: 1px solid #C8CCDE;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.basket-catalog_card-info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-top: 40px;
}

.basket-catalog-wrap {
    display: flex;
}

.basket-catalog_card-info_parameters-form {
    display: flex;
}

.basket-catalog_card-info_parameters-form > button {
    height: 30px;
    width: 30px;
    border: 1px solid #9DAADF;
    border-radius: 2px 0 0 2px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-catalog_card-info_parameters-form > input {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #9DAADF;
    max-width: 37px;
    text-align: center;
    border-top: 1px solid #9DAADF;
    border-bottom: 1px solid #9DAADF;
    background: none;
}

.basket-catalog_card-info_parameters-form > button:last-child {
    border-radius: 0 2px 2px 0;
}

.basket-catalog_card-info_parameters-form > button:hover {
    background: #FF5722;
    border: 1px solid #FF5722;
    cursor: pointer;
}

.basket-catalog_card-info_parameters-form > button:hover svg {
    fill: #FFFFFF;
}

.basket-catalog_card-price {
    display: flex;
    flex-direction: column;
}

.basket-catalog_card-delete {
    width: 20px;
    height: 20px;    
    background: none;
    border-radius: 50%;
}

.basket-catalog_card-delete:hover {
    cursor: pointer;
}

.basket-catalog_card-price_top {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #FF5722;
    margin-top: 34px;
    margin-bottom: 37px;
}

.basket-catalog_card-price_top > span {
    font-size: 18px;
    line-height: 21px;
}

.basket-catalog_card-delete {
    margin: 10px 10px 0 0;
}

.basket-info {
    width: 360px;
    padding: 40px 29px 50px 29px;
    background: #FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #191F3D;
}

.basket-info_title {
    margin-bottom: 30px;
}

.basket-info_title > span {
    color: #304FFE;
}

.basket-info_delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.delivery-card__info { 
    display: flex;
    flex-direction: column;
    background-color: #F6F9FC;
    border-radius: 2px;
    padding: 13px 0 13px;
    text-align: center;
    border: 4px solid #f6f9fc;
    align-items: center;
}

.delivery-card__info .delivery-card__info-check {
    width: 20px;
    height: 20px;
    background-image: url('img/basket-no-checked.svg');
    background-repeat: no-repeat;
    margin-bottom: 2px;
}

.delivery-card__info-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #191F3D;
}

.delivery-card {
    width: 48%;
}

.delivery-card > input {
    display: none;
}

.delivery-card:hover .delivery-card__info {
    background-color: #FFFFFF;
    border: 4px solid #FF5722;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    cursor: pointer;
}

.delivery-card input:checked ~ .delivery-card__info .delivery-card__info-check {
    background-image: url('img/basket-checked.svg');
    background-repeat: no-repeat;
    border: none;
}

.delivery-card input:checked ~ .delivery-card__info {
    border-color: #ff5722;
    background-color: #FFFFFF;
}

.basket-info_price {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
}

.basket-info_price-top {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #FF5722;
    margin-left: 14px;
}

.basket-info_price-top span {
    font-size: 18px;
    line-height: 21px;
}

.basket-info_button {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #304FFE;
    border-radius: 2px;
    padding: 14px 0;
    width: 100%;
}

.basket-info_button:hover {
    cursor: pointer;
    background: #FF5722;
}

.checkout-body_form {
    margin-bottom: 135px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.checkout-body {
    max-width: 655px;
}

.checkout-body_top {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #72799C;
    margin-bottom: 61px;
}

.checkout-body_top > div > span {
    color: #304FFE;
    font-weight: 600;
}

.checkout-data_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 10px;
}

.checkout-delivery {
    margin-bottom: 80px;
}

.checkout-data_title > span {
    color: #304FFE;
}

.checkout-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.checkout-data > input {
    width: 653px;
    margin-bottom: 10px;
    padding: 14px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #72799C;
}

.checkout-data > input:last-child {
    margin-bottom: 0;
}

.checkout-data > input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #C4C4C4;
}

.checkout-delivery_way {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}

.checkout-delivery_way  .delivery-card input:checked ~ .delivery-card__info::before {
    /* left: 18px;
    top: 50px;
    width: 0;
    height: 0; */
    /* clear: both; */
    content: '';
    position: absolute;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 13px solid #ff5722;
    bottom: -16px;
}

.checkout-delivery_way  .delivery-card input:checked ~ .delivery-card__info::after {
    /* left: 18px;
    top: 50px;
    width: 0;
    height: 0; */
    /* clear: both; */
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    bottom: -10px;
}

.checkout-delivery_way-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #9DAADF;
}

.checkout-data_adress {
    display: flex;
    justify-content: space-between;
}

.checkout-data_adress > input {
    width: 206px;
    margin-bottom: 10px;
    padding: 14px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #72799C;
}

.checkout-data_adress > input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #C4C4C4;
}   

.checkout-payment_info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #1230DA;
}

.result-wrapper {
    background: radial-gradient(101.25% 57.51% at 50% 69.56%, #F6F9FC 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    width: 360px;
}

.result-top {
    padding: 40px 30px 44px;
    background: #ffffff;
}

.result-top > span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 40px;
    display: block;
}

.result-top_card {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.result-top_card img {
    max-height: 80px;
}

.result-top_card:last-child {
    margin-bottom: 0;
}

.result-top_card-title {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #191F3D;
    max-width: 220px;
}

.result-top_card-title span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FF5722;
}

.result-top_card-title span span {
    font-size: 18px;
    line-height: 21px;
}

.result-body {
    border-radius: 2px;
    padding: 40px 30px 50px;
}

.result-body_lists {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #72799C;
    margin-bottom: 50px;
}

.result-body_list {
    display: flex;
    justify-content: space-between;
}

.result-body_list span span {
    text-align: right;
    color: #191F3D;
}

.result-body_total {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #191F3D;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.result-body_total-price {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #FF5722;
}

.result-body_total-price > span {
    font-size: 18px;
    line-height: 21px;
}

.main-wrapper {
    background: #ffffff;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 60px 0 140px;
    max-width: 555px;
}


.main-top {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #191F3D;
    margin-bottom: 25px;
}

.main-top_description {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #72799C;
    margin-bottom: 36px;
}

.main-delivery {
    flex-direction: row;
    justify-content: center;
    padding: 36px 0;
}

.main-delivery > .delivery-card__info-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #191F3D;
}

.main-container .basket-info_delivery {
    margin-bottom: 69px;
}

.main-container .delivery-card__info-check {
    margin-right: 10px;
}

.main-body {
    display: flex;
    flex-direction: column;
}


.main-body span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #72799C;
}

.main-body > span {
    margin-bottom: 15px;
}

.main-body .main-body_big {
    font-weight: 500;
    font-size: 24px;
    color: #1230DA;
}

.main-body_address {
    margin-bottom: 45px;
}

.main-map {
    width: 100%;
    height: 300px;
}



/* catalog-menu */
.catalog-popup {
    display: none;
}

.catalog-popup.active {
    display: flex;
    position: absolute;
    width: 100%;
    top: 130px;
    z-index: 4;
}

.catalog-menu {
    display: flex;
    flex-direction: row;
    position: relative;
}

.catalog-menu::before {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 9px solid #ffffff;
    /* bottom: -16px; */
    transform: rotate(180deg);
    top: -8px;
    left: 365px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 293px;
    padding: 50px 30px 50px 68px;
    background: #F6F9FC;
}

.menu-item {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #72799C;
    text-decoration: none;
    position: relative;
}

.menu-item:not(:last-child) {
    margin-bottom: 21px;
}

.menu-item:hover {
    color: #1230DA;
    font-weight: 500;
}

.menu-item.active::before {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 9px solid #ffffff;
    /* bottom: -16px; */
    transform: rotate(90deg);
    top: 5px;
    left: 204px;
}

.menu-item.active {
    color: #1230DA;
    font-weight: 500;
}

.menu-sections {
    width: 877px;
    background: #fff;
    padding: 49px 67px;
}

.menu-section {
    display: none;
}

.menu-section.active {
    display: flex;
    flex-direction: column;
}

.menu-section.active a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #72799C;
    text-decoration: none;
}

.menu-section.active a:hover {
    color: #1230DA;
    font-weight: 500;
}

.menu-section.active a:not(:last-child) {
    margin-bottom: 21px;
}

.background.active {
    width: 100%;
    background: #000000;
    opacity: 0.8;
    z-index: 2;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    width: 100%;
}

.catalog-top_filter {
    display: flex;
}


@media (max-width: 1153px) {
    .catalog-cards_item {
        width: 21.4%;
    }

    .header-body_img {
        margin-right: 0;
    }

    .header-info_search {
        margin-right: 0;
    }

    .catalog-menu::before { 
        left: 327px;
    }

    .menu-item.active::before {
        left: 174px;
    }
 
}

@media(max-width: 1023px) {
    .container {
        max-width: 738px;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .header-top_phone {
        flex-direction: column;
    }

    .header-top_phone-number:first-child {
        padding-right: 0;
        border-right: none;
    }

    .header-top_phone-number:last-child {
        padding-left: 0;
    }

    .header-top_main {
        width: 400px;
    }

    .header-body {
        flex-wrap: wrap;
    }

    .header-body_button {
        order: 3;
    }

    .header-info_search {
        order: 4;
        margin: 20px auto 0;
    }

    .basket {
        order: 2;
    }

    .catalog-cards_item {
        width: 28.4%;
    }

    .footer-logo {
        align-items: center;
        margin-bottom: 50px;
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
    }

    .menu-item.active::before {
        left: 144px;
    }

    .catalog-menu::before {
        left: 621px;
    }

    .catalog-popup.active {
        top: 140px;
    }

    .product {
        flex-direction: column;
        padding: 40px 0 80px;
    }

    .product-img img {
        height: 350px;
        margin: 0 auto;
        display: flex;
    }

    .product-img_title {
        margin-bottom: 30px;
    }

    .product-img {
        margin: 0 0 30px;
    }

    .catalog-wrapper_popular {
        margin: 50px 0 60px;
    }

    .basket-wrapper {
        flex-direction: column-reverse;
    }

    .basket-info {
        width: 100%;
        margin-bottom: 30px
    }

    .basket-catalog_card {
        width: 100%;
    }

    .basket-info_title > br {
        display: none;
    }

    .basket-catalog_card-info {
        margin-right: 0;
    }

    .basket-catalog-wrap {
        justify-content: space-between;
        width: 100%;
    }

    .basket-catalog {
        width: 100%;
    }

    .checkout-body {
        max-width: 100%;
        order: 2;
    }

    .result-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
    }

    .checkout-data > input {
        width: 100%;
    }

    .checkout-data_adress > input:first-child {
        width: 50%;
    }

    .checkout-data_adress > input {
        width: 24%;
    }

    .checkout-body_form {
        flex-direction: column;
    }

    .result-top {
        width: 55%;
    }

    .result-body {
        width: 45%;
    }

    .checkout-body_top {
        margin-bottom: 40px;
    }

    .main-container {
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .container {
        max-width: 395px;
    }

    .header-top {
        flex-wrap: wrap;
    }

    .header-body {
        margin: 20px 0 20px;
    }

    .header-top_main {
        order: 3;
        margin: 0 auto;
        margin-top: 10px;

    }

    .header-top_phone {
        order: 2;
        flex-direction: row;
    }

    .header-top_phone-number:first-child {
        padding-right: 12px;
        border-right: 1px solid #395BC4;
    }
    
    .header-top_phone-number:last-child {
        padding-left: 12px;
    }

    .header-body_img {
        margin: 0 auto 10px;
    }

    .catalog-cards_item {
        width: 41.9%;
    }

    .advantages-cards_item {
        width: 27.1%;
        margin: 15px 0;
    }

    .advantages-cards {
        margin: -15px 0;
    }

    .footer-wrapper {
        padding: 30px 0 30px;
    }

    .footer-wrap {
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        margin-bottom: 30px;
    }


    .footer-info a:first-child {
        margin-top: 15px;
    }
    .footer-info a {
        margin-top: 10px;
        text-align: center;
    }

    .footer-contacts {
        text-align: center;
    }

    .footer-contacts_phone {
        justify-content: center;
    }

    .footer-contacts_time {
        margin-bottom: 10px;
    }

    .footer-contacts_email {
        margin-bottom: 20px;
    }

    .footer-contacts_email-input {
        width: 395px;
    }

    .menu-items {
        width: 45%;
        padding: 20px;
    }

    .menu-sections {
        width: 55%;
        padding: 20px;
    }

    .catalog-menu::before {
        left: 313px;
    }

    .catalog-popup.active {
        top: 205px;
    }

    .slider {
        display: none;
    }

    .header.header-home::after {
        display: none;
    }


    .catalog-top.catalog-top-catalog {
        flex-direction: column;
        margin-top: 0;
    }

    .catalog-top.catalog-top-catalog .catalog-top_title {
        margin-bottom: 20px;
    }

    .catalog-top {
        margin-bottom: 31px;
        margin-top: 60px;
    }
    
    .product-description_wrapper {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .basket-catalog-wrap {
        flex-direction: column;
    }

    .basket-catalog_card-info_title {
        margin-top: 15px;
    }

    .basket-catalog_card-info_parameters {
        margin-top: 10px;
    }

    .basket-catalog-img {
        margin-right: 15px;
    }

    .basket-catalog_card-price_top {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .basket-catalog_card-price_top > span {
        font-size: 15px;
    }

    .basket-catalog_card-price {
        flex-direction: row;
        justify-content: space-between;
    }

    .basket-catalog-img {
        width: auto;
        padding: 10px;
        height: 170px;
        display: flex;
        align-items: center;
    }

    .basket-catalog_card-price_top {
        font-size: 20px;
    }

    .basket-catalog_card-price_top > span {
        font-size: 13px;
    }

    .basket-catalog_card-price > img {
        max-width: 130px;
    }

    .result-wrapper {
        flex-direction: column;
    }

    .result-top {
        width: 100%;
    }

    .result-top_card {
        justify-content: left;
    }

    .result-top_card img {
        margin-right: 30px;
    }

    .result-top_card-title {
        max-width: 100%;
    }

    .result-body {
        width: 100%;
    }

    .checkout-delivery_way {
        flex-direction: column;
        align-items: center;
    }

    .delivery-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .checkout-data_adress > input:first-child {
        width: 100%;
    }

    .checkout-data_adress > input {
        width: 49%;
    }

    .checkout-data_adress {
        flex-wrap: wrap;
    }

    .basket-info_delivery .delivery-card {
        width: 47%;
    }

    .main-container .basket-info_delivery {
        flex-wrap: wrap;
    }

    .main-container {
        padding: 20px 0 80px;
    }
    
}

@media(max-width: 767px) and (min-width: 550px) {
    .container {
        max-width: 520px;
    }

    .header-body_button {
        margin: 0 auto;
    }

    .catalog-menu::before {
        left: 240px;
    }

    .menu-item.active::before {
        left: 186px;
    }
}

@media(max-width: 549px)  {
    .product-img img {
        height: 290px;
    }

    .product-description_top-price {
        margin-right: 15px;
    }
}

@media (max-width: 424px) {
    .container {
        max-width: 290px;
    }

    .advantages-cards_item {
        width: 47.1%;
        align-items: center;
        text-align: center;
    }

    .footer-contacts_email-input {
        width: 290px;
    }

    .header-top_main a {
        font-size: 11px;
    }

    .header-top {
        justify-content: center;
    }

    .header-top_name {
        margin-bottom: 10px;
    }

    .header-body {
        justify-content: center;
    }

    .basket {
        margin-bottom: 20px;
    }

    .slider {
        margin-bottom: 60px;
    }

    .catalog-h1 {
        font-size: 26px;
    }

    .catalog-top_actions a {
        padding: 5px 5px;
    }

    .catalog-top {
        align-items: center;
    }

    .catalog-cards_item {
        width: 100%;
    }

    .advantages > span {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .advantages {
        padding: 60px 0 60px;
    }

    .menu-items {
        width: 100%;
    }

    .menu-sections {
        display: none;
    }

    .catalog-popup.active {
        top: 280px;
    }

    .catalog-menu::before {
        left: 120px;
        border-top: 9px solid #F6F9FC;
    }

    .menu-item.active::before {
        display: none;
    }

    .catalog-top {
        flex-direction: column;
    }

    .catalog-top_title {
        font-size: 34px;
    }

    .catalog-top_filter > button {
        padding: 12px 12px;
    }

    .product-description_top {
        flex-direction: column;
    }

    .product-description_top-price {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .product-description_top-price_big {
        font-size: 45px;
    }

    .product-img img {
        height: 200px;
    }

    .product-img_title {
        font-size: 28px;
        line-height: 37px;
    }

    .product-img_title span {
        font-size: 19px;
        line-height: 20px;
    }

    .product-description_top-price {
        font-size: 25px;
    }

    .product-description_top-price_big {
        font-size: 37px;
    }

    .catalog-h1 {
        margin-bottom: 15px;
    }

    .basket-catalog_card {
        flex-wrap: wrap;
        position: relative;
    }

    .basket-catalog-img {
        width: 100%;
        justify-content: center;
        margin-right: 0;
        height: 160px;
    }

    .basket-catalog-img img {
        height: 100%;
    }

    .basket-catalog-wrap {
        order: 3;
        padding: 0 15px;
    }

    .basket-catalog_card-delete {
        order: 2;
        position: absolute;
        right: 0;
    }

    .basket-catalog_card {
        background: radial-gradient(92.4% 52.48% at 50% 47.52%, #F6F9FC 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    }

    .basket-catalog_card-info_title {
        margin-top: 20px;
    }

    .basket-catalog_card-info_parameters {
        margin-top: 25px;
    }

    .basket-catalog_card-price_top {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .basket-catalog-img {
        height: 180px;
        padding: 20px;
    }

    .basket-info {
        padding: 30px 20px;
    }

    .basket-info {
        font-size: 22px;
    }

    .basket-info_price {
        justify-content: space-between;
    }

    .basket-info_price-top {
        margin-left: 0;
    }

    .basket-catalog_card-price_top {
        font-size: 23px;
    }

    .basket-catalog_card-price_top > span {
        font-size: 14px;
    }

    .basket-catalog_card-price > img {
        max-width: 125px;
    }

    .result-body {
        padding: 30px 15px 30px;
    }

    .result-top {
        padding: 30px 15px 30px;
    }

    .basket-info_delivery .delivery-card {
        width: 100%;
    }
}

@media (max-width: 424px) and (min-width: 350px) {
    .container {
        max-width: 320px;
    }

    .catalog-menu::before {
        left: 135px;
    }

    .product-img img {
        height: 220px;
    }

    .basket-catalog_card-price_top {
        font-size: 26px;
    }

    .basket-catalog_card-price_top > span {
        font-size: 17px;
    }

    .basket-catalog_card-price > img {
        max-width: 139px;
    }
}

